<div id="foot">

    <div id="foot-cols">

        <div class="foot-col">
            <div class="foot-title">
                {{ text.global.footPlaceTitle }}
            </div>
            <div class="foot-text">
                {{ text.global.footPlaceText|nl2br }}
            </div>
        </div>

        <div class="foot-col">
            <div class="foot-title">
                Nous contacter
            </div>
            <div class="foot-text">
                <a href="mailto:{{ text.global.footEmail }}"><i class="fas fa-envelope foot-icon"></i> {{ text.global.footEmail }}</a><br/>
                <a href="tel:{{ text.global.footPhone }}"><i class="fas fa-phone foot-icon"></i> {{ text.global.footPhone }}</a>
            </div>
        </div>

        <div class="foot-col">
            <div class="foot-title">
                Téléchargements
            </div>
            <div class="foot-text">
                <a href="/downloads/supremo.exe">Assistance à distance</a>
            </div>
        </div>

    </div>

    <div id="foot-copyright">
        ER2P.com © Tous droits réservés
    </div>



</div>