{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block script %}
    <script src="/js/home.js"></script>
{% endblock %}

{% block body %}
    <div id="top" class="img-cover" {{ image['background']['style'] }}>
        <div id="body-top" class="page-size">
            <div id="menu" class="page-size">
                <div><img id="logo" {{ image['global']['mainLogo']['src'] }}></div>

                <div id="menu-list">
                    <div><a href="/"><div class="menu-cel">Accueil</div></a></div>
                    <div><div class="menu-cel" id="products-cel">
                            Notre solution <i class="fas fa-caret-down caret-menu"></i>
                            <div id="menu-products">
                                <a href="/produit/1"><div class="menu-product" style="border-color: var(--solution1);">
                                        {{ text.global.solution1 }}</div></a>
                                <a href="/produit/2"><div class="menu-product" style="border-color: var(--solution2);">
                                        {{ text.global.solution2 }}</div></a>
                                <a href="/produit/3"><div class="menu-product" style="border-color: var(--solution3);">
                                        {{ text.global.solution3 }}</div></a>
                                <a href="/produit/4"><div class="menu-product" style="border-color: var(--solution4);">
                                        {{ text.global.solution4 }}</div></a>
                            </div>
                        </div></div>
                    <div><a href="/qui-sommes-nous"><div class="menu-cel">Qui sommes-nous</div></a></div>
                    <div><a href="/nous-contacter"><div class="menu-cel">Nous contacter</div></a></div>
                </div>
            </div>

            <div id="top-text">
                {{ text.title }}
            </div>
            <div id="subtop-text">
                {{ text.subtitle }}
            </div>

            <img id="gradient" class="noselect" src="/images/gradient.png">
        </div>
    </div>

    <div id="middle" class="page-size" style="color: var(--dark)">
        <div id="middle-text">
            {{ text.middleTitle }}
        </div>
        <div id="submiddle-text">
            {{ text.middleText|nl2br }}
        </div>

{#        <div id="blocks-list">#}
{#            <div class="block-info" style="background-color: #DD3953;">#}
{#                <div class="block-title">{{ text.global.solution1 }}</div>#}
{#                <div class="block-text">{{ text.redBlock|nl2br }}</div>#}
{#            </div>#}
{#            <div class="block-info" style="background-color: #4785D5;">#}
{#                <div class="block-title">{{ text.global.solution2 }}</div>#}
{#                <div class="block-text">{{ text.blueBlock|nl2br }}</div>#}
{#            </div>#}
{#            <div class="block-info" style="background-color: #d4b971;">#}
{#                <div class="block-title">{{ text.global.solution3 }}</div>#}
{#                <div class="block-text">{{ text.yellowBlock|nl2br }}</div>#}
{#            </div>#}
{#            <div class="block-info" style="background-color: #75b352;">#}
{#                <div class="block-title">{{ text.global.solution4 }}</div>#}
{#                <div class="block-text">{{ text.greenBlock|nl2br }}</div>#}
{#            </div>#}
{#        </div>#}

        <div id="list-solutions">
            <div class="solution-block" style="border-color: #DD3953;">
                <div class="solution-title" style="color: #DD3953;">{{ text.global.solution1 }}</div>
                <div class="solution-body">{{ text.redDescription|nl2br }}</div>
                <a href="/produit/1"><i class="fas fa-arrow-alt-circle-right solution-btn" style="color: #DD3953;"></i></a>
            </div>

            <div class="solution-block" style="border-color: #4785D5;">
                <div class="solution-title" style="color: #4785D5;">{{ text.global.solution2 }}</div>
                <div class="solution-body">{{ text.blueDescription|nl2br }}</div>
                <a href="/produit/2"><i class="fas fa-arrow-alt-circle-right solution-btn" style="color: #4785D5;"></i></a>
            </div>

            <div class="solution-block" style="border-color: #d4b971;">
                <div class="solution-title" style="color: #d4b971;">{{ text.global.solution3 }}</div>
                <div class="solution-body">{{ text.yellowDescription|nl2br }}</div>
                <a href="/produit/3"><i class="fas fa-arrow-alt-circle-right solution-btn" style="color: #d4b971;"></i></a>
            </div>

            <div class="solution-block" style="border-color: #75b352;">
                <div class="solution-title" style="color: #75b352;">{{ text.global.solution4 }}</div>
                <div class="solution-body">{{ text.greenDescription|nl2br }}</div>
                <a href="/produit/4"><i class="fas fa-arrow-alt-circle-right solution-btn" style="color: #75b352;"></i></a>
            </div>
        </div>
    </div>


    <div id="bottom" class="col-center">
        <img id="revertGradient" class="noselect" src="/images/gradient2.png">

        <div id="body-bottom" class="page-size-col">

            <div id="map-block">
                <img {{ image['mapFrance']['src'] }} alt="Carte de la France" id="map">
                <div id="text-map-block">
                    <div id="title-map">{{ text.titleMap }}</div>
                    <div id="text-map">{{ text.textMap|nl2br }}</div>
                </div>
            </div>

            <div class="bottom-title">Dernières actualités :</div>
            <div id="news-list">
                {% for new in news %}
                    <div class="actuality-block">
                        <div class="img-actuality" style="background-image: url('/images/{{ new.path }}')"></div>
                        <div class="actu-content">
                            <div class="actu-title">{{ new.title }}</div>
                            <div class="actu-description" id="test">
                                {{ new.description|nl2br }}
                            </div>
                        </div>
                        <div class="date-actuality">{{ new.created_at|date('d/m/Y') }}</div>
                    </div>
                {% endfor %}
            </div>

            <div id="thumb-block">
                <div id="text-thumb-block">
                    <div id="title-thumb">{{ text.aboutUsTitle }}</div>
                    <div id="text-thumb">{{ text.aboutUsText|nl2br }}</div>
                </div>
                <img {{ image['aboutUs']['src'] }} alt="Pouce" id="thumb">
            </div>


        </div>
    </div>
    {% include 'foot.html.twig' %}

{% endblock %}